body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 50px;
}

p {
    font-size: 20px;
}

input[type="file"] {
    font-size: 18px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 24px;
    padding: 10px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

canvas {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}
